<div class="mt-4">
    <h3>Đăng khóa học</h3>
    <form method="POST" action="/courses/store">
        <div class="form-group ">
            <label for="name" class="col-sm-2 col-form-label">Tên khóa học</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group ">
            <label for="description" class="col-sm-2 col-form-label">Mô tả </label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group ">
            <label for="videoid" class="col-sm-2 col-form-label">Video id</label>
            <input type="text" class="form-control" id="videoid" name="videoid">
        </div>
        <div class="form-group">
            <label for="level" class="col-sm-2 col-form-label">level</label>
            <input type="text" class="form-control" id="level" name="level">
        </div>
        <button type="submit" style="margin-left: 600px;" class="btn btn-primary mb-2">Thêm khóa học</button>

    </form>
</div>